In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [7]:
listing_info = pd.read_csv('./listing_info.csv', names=['user_id', 'listing_id', 'auditing_date', 'term', 'rate', 'principal'])
listing_info.head()

example = listing_info.loc[listing_info['user_id'] == 316610].sort_values('auditing_date')
example

         user_id  listing_id auditing_date  term  rate  principal
1322917   316610       23827    2016-11-17    12   9.3       1820
1202041   316610      139478    2017-03-09     6   8.6       3330
1055426   316610      287784    2017-05-15     6   8.6       2280
1033457   316610      306315    2017-05-19     6   8.6       2950
869796    316610      472243    2017-06-26     6   8.6        850
734769    316610      653113    2017-07-27     6   8.6       2260
609134    316610      829228    2017-08-23     6   8.6       2800
466367    316610      986585    2017-09-16     6   8.6       2260
421118    316610     1039374    2017-09-25     6   8.6       1170
40853     316610     1392010    2017-11-08     9   7.6       6650
0         316610     1556649    2017-11-26     9   7.6       4800
1148000   316610     1738037    2017-12-15     6   7.2       1170
922130    316610     1946147    2018-01-08     9   7.2       2810