In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [53]:
user_info = pd.read_csv('./user_info.csv', names=['user_id', 'reg_mon', 'gender', 'age', 'cell_province', 'id_province', 'id_city', 'insertdate'])
user_info.head()

example = user_info.loc[user_info['user_id'] == 316610].sort_values('insertdate')
example
user_info.sort_values('user_id').head(15)

,user_id,reg_mon,gender,age,cell_province,id_province,id_city,insertdate
423710,1,2008-03,男,35,c22,c31,c31067,2018-12-16
468220,2,2008-03,男,46,c09,c09,c09205,2018-10-04
245236,3,2008-03,男,35,c22,c05,c05126,2018-06-05
233132,4,2008-04,男,36,c17,c17,c17246,2018-01-13
953223,5,2008-04,男,45,c04,c27,c27120,2019-02-17
611348,6,2008-04,男,36,c14,c14,c14027,2018-04-03
783710,7,2008-04,男,38,c05,c05,c05021,2018-06-12
241066,8,2008-04,男,36,c04,c04,c04152,2019-02-01
243463,8,2008-04,男,35,c04,c04,c04152,2018-07-18
815086,9,2008-04,男,34,c05,c05,c05169,2018-10-27
508737,10,2008-04,男,45,c04,c06,c06195,2018-04-29
361463,11,2008-05,女,33,c04,c04,c04206,2018-05-12
578902,12,2008-05,男,41,c05,c05,c05287,2018-03-28
748433,13,2008-05,男,37,c14,c28,c28130,2018-03-04
685842,14,2008-05,男,32,c25,c25,c25121,2018-05-04

In [54]:
gender_mapping = {label: idx for idx,label in enumerate(set(user_info['gender']))}
print(gender_mapping)
user_info['gender'] = user_info['gender'].map(gender_mapping)

{'女': 0, '男': 1}

In [55]:
cell_province_mapping = {label: idx for idx,label in enumerate(sorted(set(user_info['cell_province']), reverse=True))}
print('\ncell_province_mapping:', cell_province_mapping)
user_info['cell_province'] = user_info['cell_province'].map(cell_province_mapping)

id_province_mapping = {label: idx for idx,label in enumerate(sorted(set(user_info['id_province']), reverse=True))}
print('\nid_province_mapping:', id_province_mapping)
user_info['id_province'] = user_info['id_province'].map(id_province_mapping)

id_city_mapping = {label: idx for idx,label in enumerate(sorted(set(user_info['id_city']), reverse=True))}
print('\nid_city_mapping:', id_city_mapping)
user_info['id_city'] = user_info['id_city'].map(id_city_mapping)

user_info.head()

cell_province_mapping: {'c31': 0, 'c30': 1, 'c29': 2, 'c28': 3, 'c27': 4, 'c26': 5, 'c25': 6, 'c24': 7, 'c23': 8, 'c22': 9, 'c21': 10, 'c20': 11, 'c19': 12, 'c18': 13, 'c17': 14, 'c16': 15, 'c15': 16, 'c14': 17, 'c13': 18, 'c12': 19, 'c11': 20, 'c10': 21, 'c09': 22, 'c08': 23, 'c07': 24, 'c06': 25, 'c05': 26, 'c04': 27, 'c03': 28, 'c02': 29, 'c01': 30, '\\N': 31}

id_province_mapping: {'c31': 0, 'c30': 1, 'c29': 2, 'c28': 3, 'c27': 4, 'c26': 5, 'c25': 6, 'c24': 7, 'c23': 8, 'c22': 9, 'c21': 10, 'c20': 11, 'c19': 12, 'c18': 13, 'c17': 14, 'c16': 15, 'c15': 16, 'c14': 17, 'c13': 18, 'c12': 19, 'c11': 20, 'c10': 21, 'c09': 22, 'c08': 23, 'c07': 24, 'c06': 25, 'c05': 26, 'c04': 27, 'c03': 28, 'c02': 29, 'c01': 30}

id_city_mapping: {'c31288': 0, 'c31274': 1, 'c31255': 2, 'c31232': 3, 'c31170': 4, 'c31143': 5, 'c31114': 6, 'c31067': 7, 'c31001': 8, 'c30271': 9, 'c30230': 10, 'c30148': 11, 'c29304': 12, 'c29298': 13, 'c29220': 14, 'c29219': 15, 'c29128': 16, 'c29091': 17, 'c29075': 18, 'c29063': 19, 'c29048': 20, 'c28340': 21, 'c28316': 22, 'c28279': 23, 'c28265': 24, 'c28244': 25, 'c28229': 26, 'c28225': 27, 'c28211': 28, 'c28130': 29, 'c28112': 30, 'c28085': 31, 'c28081': 32, 'c28053': 33, 'c28005': 34, 'c27339': 35, 'c27330': 36, 'c27327': 37, 'c27309': 38, 'c27257': 39, 'c27224': 40, 'c27180': 41, 'c27153': 42, 'c27151': 43, 'c27124': 44, 'c27120': 45, 'c27116': 46, 'c27068': 47, 'c27054': 48, 'c27051': 49, 'c27039': 50, 'c27026': 51, 'c27010': 52, 'c26350': 53, 'c26312': 54, 'c26277': 55, 'c26262': 56, 'c26259': 57, 'c26247': 58, 'c26243': 59, 'c26241': 60, 'c26237': 61, 'c26213': 62, 'c26210': 63, 'c26178': 64, 'c26165': 65, 'c26161': 66, 'c26156': 67, 'c26136': 68, 'c26131': 69, 'c26105': 70, 'c26099': 71, 'c26057': 72, 'c26047': 73, 'c26033': 74, 'c25339': 75, 'c25332': 76, 'c25222': 77, 'c25214': 78, 'c25199': 79, 'c25189': 80, 'c25183': 81, 'c25144': 82, 'c25140': 83, 'c25121': 84, 'c25113': 85, 'c25090': 86, 'c25074': 87, 'c25056': 88, 'c25049': 89, 'c24317': 90, 'c24283': 91, 'c24272': 92, 'c24269': 93, 'c24268': 94, 'c24260': 95, 'c24233': 96, 'c24212': 97, 'c24150': 98, 'c24071': 99, 'c24044': 100, 'c24024': 101, 'c24023': 102, 'c24016': 103, 'c23347': 104, 'c23336': 105, 'c23228': 106, 'c23141': 107, 'c22308': 108, 'c21299': 109, 'c21293': 110, 'c21240': 111, 'c21226': 112, 'c21209': 113, 'c21186': 114, 'c21174': 115, 'c21134': 116, 'c21034': 117, 'c21006': 118, 'c20352': 119, 'c20249': 120, 'c20231': 121, 'c20188': 122, 'c20176': 123, 'c20129': 124, 'c20108': 125, 'c20092': 126, 'c20089': 127, 'c20031': 128, 'c20019': 129, 'c19351': 130, 'c19335': 131, 'c19310': 132, 'c19303': 133, 'c19239': 134, 'c19208': 135, 'c19203': 136, 'c19202': 137, 'c19122': 138, 'c19118': 139, 'c19104': 140, 'c19097': 141, 'c19083': 142, 'c19078': 143, 'c19058': 144, 'c19013': 145, 'c19004': 146, 'c18318': 147, 'c18302': 148, 'c18173': 149, 'c18093': 150, 'c18064': 151, 'c18061': 152, 'c18050': 153, 'c18011': 154, 'c17291': 155, 'c17290': 156, 'c17284': 157, 'c17253': 158, 'c17250': 159, 'c17246': 160, 'c17242': 161, 'c17198': 162, 'c17194': 163, 'c17179': 164, 'c17172': 165, 'c17133': 166, 'c17132': 167, 'c17109': 168, 'c17096': 169, 'c17080': 170, 'c17041': 171, 'c16322': 172, 'c16306': 173, 'c16275': 174, 'c16146': 175, 'c16115': 176, 'c15278': 177, 'c14027': 178, 'c13329': 179, 'c13314': 180, 'c13295': 181, 'c13280': 182, 'c13276': 183, 'c13248': 184, 'c13127': 185, 'c13070': 186, 'c13059': 187, 'c13043': 188, 'c13042': 189, 'c13032': 190, 'c13029': 191, 'c13014': 192, 'c13009': 193, 'c13003': 194, 'c12305': 195, 'c12238': 196, 'c12234': 197, 'c12190': 198, 'c12142': 199, 'c12135': 200, 'c12117': 201, 'c12100': 202, 'c12088': 203, 'c12084': 204, 'c12022': 205, 'c12007': 206, 'c11273': 207, 'c11252': 208, 'c11245': 209, 'c11217': 210, 'c11207': 211, 'c11184': 212, 'c11171': 213, 'c11159': 214, 'c11111': 215, 'c11098': 216, 'c11094': 217, 'c11077': 218, 'c11076': 219, 'c11017': 220, 'c10326': 221, 'c10324': 222, 'c10300': 223, 'c10218': 224, 'c10164': 225, 'c10158': 226, 'c10138': 227, 'c09346': 228, 'c09315': 229, 'c09313': 230, 'c09294': 231, 'c09289': 232, 'c09261': 233, 'c09254': 234, 'c09235': 235, 'c09205': 236, 'c09167': 237, 'c09149': 238, 'c09052': 239, 'c09046': 240, 'c09040': 241, 'c09038': 242, 'c09037': 243, 'c09008': 244, 'c08343': 245, 'c08341': 246, 'c08337': 247, 'c08333': 248, 'c08292': 249, 'c08263': 250, 'c08256': 251, 'c08216': 252, 'c08187': 253, 'c08175': 254, 'c08157': 255, 'c08107': 256, 'c08087': 257, 'c08079': 258, 'c08055': 259, 'c08030': 260, 'c08025': 261, 'c07349': 262, 'c07342': 263, 'c07338': 264, 'c07323': 265, 'c07297': 266, 'c07286': 267, 'c07285': 268, 'c07282': 269, 'c07177': 270, 'c07154': 271, 'c07072': 272, 'c07060': 273, 'c07045': 274, 'c06311': 275, 'c06281': 276, 'c06266': 277, 'c06221': 278, 'c06195': 279, 'c06119': 280, 'c06106': 281, 'c06095': 282, 'c06062': 283, 'c06028': 284, 'c06020': 285, 'c05296': 286, 'c05287': 287, 'c05258': 288, 'c05204': 289, 'c05193': 290, 'c05192': 291, 'c05191': 292, 'c05169': 293, 'c05147': 294, 'c05145': 295, 'c05126': 296, 'c05103': 297, 'c05082': 298, 'c05021': 299, 'c05015': 300, 'c04348': 301, 'c04344': 302, 'c04339': 303, 'c04331': 304, 'c04320': 305, 'c04319': 306, 'c04270': 307, 'c04267': 308, 'c04264': 309, 'c04251': 310, 'c04206': 311, 'c04196': 312, 'c04162': 313, 'c04155': 314, 'c04152': 315, 'c04137': 316, 'c04125': 317, 'c04110': 318, 'c04102': 319, 'c04086': 320, 'c04073': 321, 'c04069': 322, 'c03325': 323, 'c03236': 324, 'c03223': 325, 'c03185': 326, 'c03123': 327, 'c03101': 328, 'c03066': 329, 'c03065': 330, 'c03012': 331, 'c02345': 332, 'c02339': 333, 'c02334': 334, 'c02321': 335, 'c02182': 336, 'c02168': 337, 'c02163': 338, 'c02160': 339, 'c02139': 340, 'c02036': 341, 'c02035': 342, 'c02018': 343, 'c02002': 344, 'c01328': 345, 'c01307': 346, 'c01301': 347, 'c01227': 348, 'c01215': 349, 'c01201': 350, 'c01200': 351, 'c01197': 352, 'c01181': 353, 'c01166': 354, '\\N': 355}

,user_id,reg_mon,gender,age,cell_province,id_province,id_city,insertdate
0,483833,2017-04,1,19,2,5,60,2018-12-11
1,156772,2016-05,1,31,20,20,214,2018-02-13
2,173388,2016-05,1,34,29,29,336,2018-08-21
3,199107,2016-07,0,25,22,22,240,2018-06-05
4,122560,2016-03,1,23,26,26,290,2018-04-02

In [56]:
# user_info.to_csv('user_info_preprocess.csv', index=False, encoding='utf-8')

df = pd.read_csv('user_info_preprocess.csv', encoding='utf-8')
df.head(20)
df.sort_values(['user_id', 'insertdate'])  # user_id有重复，但是insertdate不同
# print(len(set(user_info['user_id'])))

,user_id,reg_mon,gender,age,cell_province,id_province,id_city,insertdate
423710,1,2008-03,1,35,9,0,7,2018-12-16
468220,2,2008-03,1,46,22,22,236,2018-10-04
245236,3,2008-03,1,35,9,26,296,2018-06-05
233132,4,2008-04,1,36,14,14,160,2018-01-13
953223,5,2008-04,1,45,27,4,45,2019-02-17
611348,6,2008-04,1,36,17,17,178,2018-04-03
783710,7,2008-04,1,38,26,26,299,2018-06-12
243463,8,2008-04,1,35,27,27,315,2018-07-18
241066,8,2008-04,1,36,27,27,315,2019-02-01
815086,9,2008-04,1,34,26,26,293,2018-10-27
508737,10,2008-04,1,45,27,25,279,2018-04-29
361463,11,2008-05,0,33,27,27,311,2018-05-12
578902,12,2008-05,1,41,26,26,287,2018-03-28
748433,13,2008-05,1,37,17,3,29,2018-03-04
685842,14,2008-05,1,32,6,6,84,2018-05-04
147223,15,2008-05,1,32,27,10,109,2018-03-03
897110,16,2008-06,1,46,17,23,253,2018-12-17
896575,17,2008-07,1,33,27,26,297,2018-11-27
93124,18,2008-07,1,47,14,14,160,2018-05-31
312833,19,2008-07,1,44,16,16,177,2018-04-16
96242,20,2008-07,1,29,31,28,327,2019-02-14
832428,21,2008-07,1,36,11,11,127,2018-12-13
839290,22,2008-07,0,36,2,8,107,2019-02-25
133912,23,2008-07,0,45,4,4,48,2018-01-02
759534,24,2008-07,0,29,11,11,121,2018-06-09
753291,24,2008-07,0,30,11,11,121,2019-03-11
304441,25,2008-07,0,29,17,17,178,2018-10-25
202178,26,2008-07,1,28,4,4,44,2018-07-04
183678,27,2008-07,1,45,17,17,178,2018-02-26
497015,28,2008-07,0,32,22,22,232,2018-07-11
...,...,...,...,...,...,...,...,...
618075,928166,2019-03,1,25,15,15,175,2019-03-25
320988,928167,2019-03,1,25,28,28,329,2019-03-28
225015,928168,2019-03,1,34,8,5,69,2019-03-25
798896,928169,2019-03,0,23,11,11,123,2019-03-25
715089,928170,2019-03,1,33,11,20,217,2019-03-25
624193,928171,2019-03,1,22,11,11,121,2019-03-28
748757,928172,2019-03,1,23,27,6,87,2019-03-25
236131,928173,2019-03,1,20,31,29,335,2019-03-25
468317,928174,2019-03,1,19,5,5,57,2019-03-25
853748,928175,2019-03,1,24,27,2,13,2019-03-25
280560,928176,2019-03,1,20,26,26,297,2019-03-30
606757,928177,2019-03,1,27,17,5,65,2019-03-27
399193,928178,2019-03,1,24,14,29,341,2019-03-28
413017,928179,2019-03,1,21,14,14,164,2019-03-30
916747,928180,2019-03,1,23,30,30,349,2019-03-26
775708,928181,2019-03,1,23,19,24,272,2019-03-27
496607,928182,2019-03,0,30,27,27,301,2019-03-30
811492,928183,2019-03,0,27,27,27,308,2019-03-27
639736,928184,2019-03,1,21,27,27,301,2019-03-27
341519,928185,2019-03,1,24,5,5,72,2019-03-27
546915,928186,2019-03,0,24,30,30,353,2019-03-27
665497,928187,2019-03,0,24,24,24,266,2019-03-27
430694,928188,2019-03,1,27,0,0,3,2019-03-30
129324,928189,2019-03,0,35,0,0,2,2019-03-29
14300,928190,2019-03,1,30,27,27,306,2019-03-30
757773,928191,2019-03,1,22,26,26,300,2019-03-29
638135,928192,2019-03,1,27,5,5,60,2019-03-29
115921,928193,2019-03,1,23,24,24,266,2019-03-29
169243,928194,2019-03,1,28,11,5,59,2019-03-29
461858,928195,2019-03,1,23,2,2,19,2019-03-30